.music-player-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: transparent;
    padding: 10px 12px;
    border-radius: 10px;
    font-size: 14px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.music-player-button {
    position: relative;
    z-index: 12;
    background: #fe53892e;
    border: 1px solid #666;
    border-radius: 6px;
    /* padding: 6px 10px; */
    color: #fff;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.music-player-slider {
    width: 80px;
    height: 1px;
}